/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    padding: 0 ;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
  }

  h1 {
    font-size: 50px;
  }

  h4{
    color: #168CCD;
    font-size: larger;
  }

  

  .landing-img {
    background-image: url(/spotify-clone/images/landing.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .landing-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .nav-bar{
    position: fixed;
    background-color:azure;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    opacity: 90%;
  }

  @media only screen and (max-width: 450px) {
    .nav-bar {
      display: none;
    }
  }
  
  .logo{
    background-image: url(/spotify-clone/images/spotify-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: auto;
    margin: 5px;
   
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  li{
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    background-color: #168dcdb5;
    color: aliceblue;
  }

  .info-text{
    text-align: center;
  }

  hr {
    width: 229px;
    color: #168CCD;
    border-style:solid;
    margin-top: -15px ;
    background-color: #168CCD;
  }

  .info-img{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
  }

  @media only screen and (max-width: 450px) {
    .info-img{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1px 10px;
      
    }
  }

.icons{
    width: 100px;
    height: 90px;
}

.icons-info{
    height: 200px;
}

.info-img >*{
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.final{
    color: aliceblue;
    background-color: #168CCD;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.info {
  margin-top: 50px;
  margin-bottom: 50px;
}

.icono-final > img {
width: 80px;
padding-top: 168px;
padding-right: 60px;
}

@media only screen and (max-width: 450px) {
  .icono-final > img {
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    }
}

.imagen > img{
  width: 200px;
}

@media only screen and (max-width: 450px) {
  .imagen > img{
    width: 100%;
  }
}

.final-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px
}

@media only screen and (max-width: 450px) {
  .final-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px
  }
}

.texto {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px;
}

@media only screen and (max-width: 450px) {
  .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    font-size: larger;
    }
}


.final-titulo{
  text-align: center;
  padding-bottom: 10px;
}

.final-titulo > hr {
    width: 400px;
    color: #ffffff;
    border-style:solid;
    margin-top: -15px ;
    background-color: #ffffff;
}

@media only screen and (max-width: 450px) {
  .final-titulo > hr {
    width: 229px;
    color: #ffffff;
    border-style:solid;
    margin-top: -15px ;
    background-color: #ffffff;
}
}
